name: Verify IDL Consumption

on:
  # So we can trigger manually if needed
  workflow_dispatch:

  push:
    paths:
      - ".github/workflows/verify-idl-consumption.yml"
      - Makefile
      - api/**
      - config/crd/**

  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Verify
        run: hack/verify-idl-consumption.sh
